img#produto01 {
    width: 150px;
}

img#produto02 {
    width: 150px;
}

strong#logotopo {
    text-align: center;
    color: rgb(25, 165, 170);
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: absolute;
    top: 35;
    right: 1500;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.logo-cabecalho {
    height: 150;
    position
}