img#produto01 {
    width: 150px;
}

img#produto02 {
    width: 150px;
}

strong#logotopo {
    text-align: center;
    color: rgb(25, 165, 170);
}

header {
    background: #646464;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color: #00ccff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color:#BBBBBB
}

.logo-cabecalho {
    height: 150px;
    position: absolute;
    left: 20;
    top: 20;
}